h1 {
    color: white;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
}
body {
    background-image: url(https://poltronanerd.com.br/wp-content/uploads/2018/04/poltrona-lost-in-space-netflix-reboot-trailer-featured.jpg);
    background-repeat: no-repeat;
    background-color: black;
}
p {
    color: white;
    font-size: 30px;
    text-align:left
}