#p1 {
    font-size: initial;
    font-size: 20px;
}
#p2 {  
    font-style: italic;
    font-size: 25px;
}
#p3 {
    font-style: unset; 
    font-size: 30px;
}
#p4 {
    font-style: oblique;
    font-size: 35px;
}
#p5 {
    font-style: inherit;
    font-size: 40px;
}

